body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #75FB94
}


.principal {
    background-image: url(/imagens/fundo.png);
    background-size: cover;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    padding: 20px;

}

.principal > * {
    z-index: 100;

}

.principal::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

/* .esquerda {
    width: 70%;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;



} */

.esquerda .titulo-master {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    padding: 2rem;
    border: 2px solid #fff;


}

.esquerda h1 {
    padding: 0;
    font-size: 4em;
    line-height: 1.2em;
    margin: 0;
    font-weight: 400;
}
.esquerda .titulo-master span {
    font-size: 2.3rem;
    line-height: 1;
    padding: 0;
    margin: 0;


    
}

.texto {
    padding: 0 3rem 0 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;


}

.direita {
    margin-top: 40px;
    left: 0;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.direita h2{
    font-size: 4rem;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    color: #75FB94;

}


.direita h3 {
    font-size: 2rem;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-weight: 300;
    padding: 1.4rem 0 ;
    color: #75FB94;


    
}

#rvsp {
    background-color: #75FB94;
    border: 2px solid #75FB94;
    border: none;
    font-size: 1.4rem;
    padding: 0.7rem 4rem;
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;


}

#rvsp:hover {
    background-color: black;
    color: #75FB94;
    box-shadow: 0px 0px 10px #75FB94;

}

.rodape {
    display: block;
    background-color: #fff;
    font-family: 'Fira Sans', sans-serif;
    padding: 1rem;
    justify-content: space-between;



}

.rodape img {
    height: 50px;

}


.rodape i{
    font-size: 2rem;
    margin-left: 10px;
    margin-bottom: 30px;
}   

.rodape h4 {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.6em;
}




.fale-conosco {
    text-align: center;
}


