body {
    background-color: white;
    height: 100vh;
    display: flex;
    background-color: #222;
}

.banner {

    background: url(/banner.png) no-repeat center center;
    background-size: contain;
    height: 362px;
    width: 425px;
    margin: auto;
    box-shadow: 0 0 10px #919191;
    transform: scale3d(1.1, 1.1, 1.1);
    transition: all 0.9s ease;

}

.banner:hover {
    transform: scale3d(2.1, 2.1, 2.1);

}